<section class="row">
		<div class="container">
			<h2>A site dedicated to Los Gatos Boys</h2>
			<p>Since 2014, Carl and Frank have brought truck loads of love and laughter to the Ortberg Family. 24/7 mischief lurks in every corner of the house, as the boys explore, hunt, chase, and wrestle.</p>
		</div>

	</section>
	
<!-- Three columns of teasers -->

	<section class="row-alt">
		<div class="teaser container"><!--Gallery
			
			--><section class="col-1-3">
				<h4>Gallery</h4>
					<a href="gallery.html">
						<img src="../images/Gallery2-1.jpg">
						<h3>See the boys!</h3>
						<p>A gallery of photos, some cute, some funny. Never boring.</p>
						<a ng-click="getMessage()">regular message</a>
						<a ng-click="getPrivateMessage()">Private message</a>

					</a>
			</section><!--		Activities

			--><section class="col-1-3">
				<h4>Activities</h4>
					<a href="activities.html">
						<img src="../images/Activities.jpg">
						<h3>See what they do!</h3>
						<p>With an incredible amount of free time, the boys have each developed some hobbies. Unfortunately, many activities occur at night!</p>

					</a>
			</section><!--		Things

			--><section class="col-1-3">
				<h4>Things they love</h4>
					<a href="cat-likes.html">
						<img src="../images/Things.jpg">
						<h3>See their favorite items!</h3>
						<p>A refined, yet slightly peculiar collection of items the boys would LIKE on facebook if they knew how.</p>
					</a>
			</section><!--


		--></div>

	</section>